images/*
music/*
dev/*
json/*
robots.txt
favicon.ico
favicon_store.ico
sitemap.xml
LICENSE
mobile/images/*
webcomic/img/*
OLD/*
blog/*
CERTS/*
fonts/*
TEST_TIMER.HTML
timer.html
style_timer-min.css
style_timer.css
style_timer-test.css
timerfs.html