a:link {
    color:#FFFFFF;
}
a:visited {
    color:#ffa047;
}

html {
	 overflow-y: scroll;
     cursor: url('./images/mouse_cursor/mouse_cursor_contact.cur'), pointer;
}

body {
	background-color:#0f0e17;
    width: 960px;
    margin: 8px auto;
    line-height: 1.6;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    color: #FFFFFF;
    
}

header {    
  width: 960px;
  height: 150px;
  background-image: url('./images/layout/contact_banner.webp');
  background-color: #222034;
}

footer {
    clear: both;
    padding-top: 10px;
    background-repeat: no-repeat;
    background-image: url('./images/layout/contact_bottomborder.webp');
    text-align: center;
}

section {
    padding: 10px 8px 10px 8px;
    background-color: #222034;
    background-image: url('./images/layout/contact_sub.webp'),url('./images/layout/contact_border.webp');
    background-repeat: no-repeat, repeat-y;
    height: 100%;
    width: 944px;
    float: left;
}

/* Note: Sum of next three widths should equal the <section> width */
#left-col {
    float: left;
    width: 152px;
}
    
main {
    float: left;
    width: 640px;
    height: auto;
}
    
#right-col {
    float: right;
    width: 152px;
}

article {
    width: 598px;
    padding: 10px 20px;
    border-width: 1px;
    background-color: #34314f;
    margin: 10px auto;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-style: solid;
    border-radius: 10px 10px;
}

h1 {
	font-variant: small-caps;
	font-size: 28px;
	font-weight: bold;
	margin-top: 0px;
	margin-bottom: 3px;
	text-shadow: #222034 2px 2px;
}

h2 {
	font-size: 14pt;
	font-weight: bold;
	margin: 0px;
	text-shadow: #222034 2px 2px;
}

nav > img {
	margin-left: auto;
	margin-right: auto;
	display: block;
}

p {
	text-indent: 40px;
}

P.commissionText {
    width: 500px; 
    font-weight: bold; 
    height: 49px;
}

button#work:hover {
background-color: #a869c0;
color:#ffffe1;
}

.flex-parent {
    display: flex;
  }
  .flex-child {
    flex: 1;
  }

/**************** Styles for <nav> icons and hover. ******************/

#social {
    background: url(./images/layout/social_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}
#art {
    background: url(./images/layout/art_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}
#twitch {
    background: url(./images/layout/twitch_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}
#youtube {
    background: url(./images/layout/youtube_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}
#store {
    background: url(./images/layout/store_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}
#contact {
    background: url(./images/layout/contact_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}
#webring {
    background: url(./images/layout/WEB_RING_ICON.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#downloads {
    background: url(./images/layout/downloads_icon.webp) no-repeat;
	margin:15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#twitchlayout {
    background: url(./images/layout/contact_collapse_twitchlayout_inactive.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#leveldesign {
    background: url(./images/layout/contact_collapse_leveldesign_inactive.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#profileicon {
    background: url(./images/layout/contact_collapse_profileicon_inactive.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#halfbody {
    background: url(./images/layout/contact_collapse_halfbody_inactive.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#siteinquiry {
    background: url(./images/layout/contact_collapse_inquiry_inactive.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#downloads:hover {
    background-position: -72px 0;
}
#social:hover {
    background-position: -72px 0;
}
#art:hover {
    background-position: -72px 0;
}
#twitch:hover {
    background-position: -72px 0;
}
#youtube:hover {
    background-position: -72px 0;
}
#store:hover {
    background-position: -72px 0;
}
#contact:hover {
    background-position: -72px 0;
}
#webring:hover {
    background-position: -72px 0;
}
#twitchlayout:hover {
    background: url(./images/layout/contact_collapse_twitchlayout_active.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}
#leveldesign:hover {
    background: url(./images/layout/contact_collapse_leveldesign_active.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#profileicon:hover {
    background: url(./images/layout/contact_collapse_profileicon_active.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}
#halfbody:hover {
    background: url(./images/layout/contact_collapse_halfbody_active.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#siteinquiry:hover {
    background: url(./images/layout/contact_collapse_inquiry_active.webp) no-repeat;
	margin:5px auto 5px auto;
    display: block;
    height: 36px;
    width: 226px;
}

#commissioninfo {
    background: url(./images/layout/contact_div_background.webp) no-repeat;
}

  #screw {
    margin:12px auto 5px auto;
    display: block;
  }

  #contactBannerEnd {
    background: url(./images/layout/contact_button_background_end.webp) no-repeat;
    width: 45px;
    height: 49px;
    display: block;
  }
  #contactBannerStart {
    background: url(./images/layout/contact_button_background_start.webp) no-repeat;
    height: 49px;
  }
  #contactBannerContent {
    background: url(./images/layout/contact_button_background_content.webp) repeat-x;
    height: 49px;
    width: auto;
}

audio::-webkit-media-controls-panel {
    background-color: #99237f;
    outline-width: 10px;
    outline-color: white;
    width: auto;
  }

  audio::-webkit-media-controls-play-button {
    background-color: #fc9af4;
    border-radius: 50%;
  }
  
  audio::-webkit-media-controls-play-button:hover {
    background-color: #ff00ea4b;
  }

  audio::-webkit-media-controls-time-remaining-display,  
  audio::-webkit-media-controls-current-time-display
   {
    color: #ffffff;
  }

  .intra-link {cursor: url('./images/mouse_cursor/mouse_cursor_contact_intra.cur'),auto;}
  .outra-link {cursor: url('./images/mouse_cursor/mouse_cursor_contact_outra.cur'),auto;}
  .contact {cursor: url('./images/mouse_cursor/mouse_cursor_contact.cur'),auto;}
  .paint {cursor: url('./images/mouse_cursor/mouse_cursor_work_outra.cur'),auto;}

  .sm_badges {
    align-items: center;
  }