div#friendIcon {
    float: inline-start;
    width: auto;
}


.grid-container {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    /* 4 columns */
    grid-template-rows: repeat(1, 1fr);
    /* 3 rows */
}

.grid-item {
    align-items: center;
    /* Optional: vertical alignment */
    justify-content: center;
    /* Optional: horizontal alignment */
}

.grid-item>img {
    margin-left: auto;
    margin-right: auto;
    display: block;
}


iframe {
    border: 0;
    width: 600px;
    height: 450px;
    overflow: scroll;
    align-items: center;
}

.clear {
	clear:both;
}

.centerimages {
  padding-bottom: 10px;
  display: table; 
  margin: 0 auto; 
}

.alt {
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}



#pillaryt {
    background: url(./images/layout/webring_youtube_icon.webp) no-repeat;
    margin: 15px auto 5px auto;
    display: block;
    height: 250px;
    width: 72px;
}

#colonelrpg {
    background: url(./images/layout/colonelrpg_icon.webp) no-repeat;
    margin: 15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#birdcatcher {
    background: url(./images/layout/birdcatcher_icon.webp) no-repeat;
    margin: 15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#toaster {
    background: url(./images/layout/Toaster_icon.webp) no-repeat;
    margin: 15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#marrow {
    background: url(./images/layout/Marrow_icon.webp) no-repeat;
    margin: 15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#thebrianj {
    background: url(./images/layout/brianj_icon.webp) no-repeat;
    margin: 15px auto 5px auto;
    display: block;
    height: 72px;
    width: 72px;
}

#downloads:hover {
    background-position: -72px 0;
}

#social:hover {
    background-position: -72px 0;
}

#art:hover {
    background-position: -72px 0;
}

#twitch:hover {
    background-position: -72px 0;
}

#youtube:hover {
    background-position: -72px 0;
}

#pillaryt:hover {
    background-position: -72px 0;
}

#store:hover {
    background-position: -72px 0;
}

#contact:hover {
    background-position: -72px 0;
}

#marrow:hover {
    background-position: -72px 0;
}

#colonelrpg:hover {
    background-position: -72px 0;
}

#birdcatcher:hover {
    background-position: -72px 0;
}

#toaster:hover {
    background-position: -72px 0;
}

#webring:hover {
    background-position: -72px 0;
}

audio::-webkit-media-controls-panel {
    background-color: #99237f;
    outline-width: 10px;
    outline-color: white;
    width: auto;
}

audio::-webkit-media-controls-play-button {
    background-color: #fc9af4;
    border-radius: 50%;
}

audio::-webkit-media-controls-play-button:hover {
    background-color: #ff00ea4b;
}

audio::-webkit-media-controls-time-remaining-display,
audio::-webkit-media-controls-current-time-display {
    color: #ffffff;
}

.sm-intra-link {
    cursor: url('./images/mouse_cursor/Mouse_Cursor_Webring_small_intra.cur'), auto;
}

.sm_badges {
    align-items: center;
}